<h1 class="text-center mb-4"> Gmail</h1>

<%= link_to emails_path, :action => :create, :method => :post, :remote => :true do %>
   <input class="btn btn-primary" type="submit" value="Recevoir un email">
<%end%>

<br><br>
<table class="table" >
    <thead>
        <tr>
            <td width=50%><strong>Email object</strong> </td>
            <td width=50%> <strong>Email body</strong> </td>
        </tr>
    </thead>
    <tbody id="email-list">
    <% @emails.each do |email| %>
        <tr>
            <% if email.read == true %>
                <td width=50% id="<%=email.id%>" class="bg-success">
                <%= link_to email.object, email_path(email.id), remote: true, method: :get %>
                </td>
            <% else %>
            <td width=50% id="<%=email.id%>">
            <%= link_to email.object, email_path(email.id), remote: true, method: :get %>
            <% end %>
                
                  
            <td rowspan="0" width=50% id="body_email"></td>   
           <% end  %> 
            
        </tr>
        
    </tbody>
    
</table>

